html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.row h1 {
    transition: 1s;
}

.row h1:hover {
    color: white;
    transform: rotateY(360deg);
    transition: 1s ease-in-out;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Header_Overlay {
    color: white;
}

.Header_Overlay p {
    font-size: 18px;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(39, 39, 39);
    width: 100%;
}

.navbar a {
    float: left;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    position: relative;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    transition: .25s;
    text-align: center;
}

.navbar a:hover {
    background-color: rgb(185, 185, 185);
    color: black;
    font-weight: bold;
    transition: .25s;
}

.keyvid {
    position: relative;
    width: 100%;
}

#keycrop {
    margin-top: -280px;
}

video, source {
    position: fixed;
    width: 100%;
    min-width: 1920px;
    display: block;
    overflow: hidden;
    right: 0;
    margin: auto;
    z-index: -1;
}

#picturesBackground {
    background-color: rgba(255, 255, 255, 0.5);
}

#slidesContainer {
    width: 40vw;
    height: auto;
    padding-top: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.photo {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

@-webkit-keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}

.slidePic {
    vertical-align: middle;
    height: auto;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .75);
    width: 100%;
}

.picOverlay {
    color: aliceblue;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.8);
}

.next, .prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transition: .5s;
    width: auto;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    user-select: none;
}

.next:hover, .prev:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s;
}

.next {
    right: 0;
    font-size: 2.5vw;
    padding-left: 2vw;
    padding-right: 1.5vw;
}

.prev {
    left: 0;
    font-size: 2.5vw;
    padding-left: 1.5vw;
    padding-right: 2vw;
}

.point {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: aliceblue;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .5s;
    z-index: 1;
}

.active, .point:hover {
    background-color:rgb(27, 33, 39);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.Column_1 {
    background-color: rgb(211, 225, 255);

}

.Column_2 {
    background-color: rgb(106, 113, 136);
}

.Column_1, .Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    height: 400px;
    text-align: center;
}

label {
    text-align: left;
}

.row img {
    margin-top: 22px;
    object-fit: cover;
    overflow: hidden;
    width: 506px;
    height: 337px;
    max-width: 506px;
    filter: drop-shadow(10px 10px 20px black) saturate(25%);
    transition: .5s;
}

.row img:hover {
    opacity: 75%;
    transform: scale(1.1);
    transition: .5s;
}

label {
    text-align: left;
    font-weight: bold;
}

input[type=text] {
    width: 100%;
    padding: 10px;
    border: 2px solid rgb(20, 20, 50);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    resize: vertical;
    transition: .25s;
}

input[type=text]:hover {
    box-shadow: 0 0 5px rgb(10, 10, 66);
    transition: .25s;
}

input[type=submit] {
    padding: 6px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .25s;
}

input[type=submit]:hover {
    background-color: rgb(24, 47, 90);
    color: white;
    transition: .25s;
}

.contactButton {
    cursor: pointer;
    background-color: rgba(215, 225, 255, 0.85);
    position: fixed;
    right: 25px;
    bottom: 15px;
    width: 150px;
    height: 50px;
    font-size: large;
}



.formStyle {
    background-color: rgba(240, 248, 255, 0.85);
    border: 2px solid rgba(0, 0, 0, 0.85);
}

.formContainer {
    position: fixed;
    width: 400px;
    right: 25px;
    bottom: 25px;
}

#Message {
    margin-bottom: 25px;
}

.close, .subButt {
    cursor: pointer;
    background-color: white;
    width: 100%;
    height: 25px;
    margin-bottom: 10px;
}

form {
    padding: 10px;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 1073px) {
    .row img {
        max-width: 100%;
        height: auto;
        width: auto;
    }

    h1 {
        font-size: 3vw;
    }

    h2 {
        font-size: 2.25vw;
    }

    p {
        font-size: 1.5vw;
    }
} 